/*
Theme Name: School guide
Theme URI: http://wpgeodirectory.com/
Description: A blank Child Theme for Whoop
Author: GeoDirectory
Author URI: http://wpgeodirectory.com/
Template: GeoDirectory_whoop
Version: 1.0.0
*/
.header{
	background: #141f42;
	// min-height: 120px;
}
.top-nav {
  background: #2c385b;
  padding: 10px 17px 8px 17px;
  display: inline-block;
  float: right;
}
header nav .nav li a:hover{
	border-radius: 0;
	padding: 0;
	border-color: #fff;
	font-weight: bold;
}
header nav .nav li a{
	padding: 0;
	border-bottom: 2px solid;
	border-color: transparent;
}
.top-nav li {
    padding: 0 19px;
}
a.whoop-signup-btn{
	border:none;
	background-image: none;
	background: transparent;
	font-weight: bold;
	font-size: 13px;
	padding: 0 0 0 8px;
	margin: 0;
}
.whoop-signup-btns li {
  display: inline-block;
}
.site-logo{
	margin: 0 20px 0 0;
}
.header-right-area{
	float: right;
	width: 72%;
}
header nav {
  width: initial;
}
.whoop-account{
	margin-right: 0;
	margin-top: 9px;
}
a.whoop-login-btn{
	border-right: 1px solid;
	border-radius: 0;
	padding: 0 10px;
}
.whoop-signup-btns a {
    line-height: 12px;
}
#mobile-navigation-left ul{
	margin: 0;
}
.header-right-area.header-right-no-widget{
	margin-top: 35px;
}
#geodir_wrapper{
	border: none;
	// padding: 0;
}
